* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.logo {
   height: 50px;
   border-radius: 10px;
}

.links {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding: 10px;
   margin: 5px;
   gap: 4rem;
   cursor: pointer;
}

.eufoto {
   height: 400px;
   width: 400px;

}

.background {
   background-color:rgb(12, 165, 42);
   width: 100%;
   height: 100vh;
   padding: 20px;
   margin: 10px;
}

.principal {
   text-align: center;
}

.fundos {
   background-color:aqua;
   padding: 20px;
   margin: 10px;

   text-align: center;
}

.devcafe {
   width: 200px;
   height: 200px;
}

.logomario {
   width: 200px;
   height: 200px;
}

.netflix {
   width: 200px;
   height: 200px;
}

.instagran {
   width: 200px;
   height: 200px;
}
